{% extends "auctions/layout.html" %}

{% block body %}

    {% if watchlist_view %}
        <h2>Auctions in watchlist</h2>
    {% elif category_human_readable %}
        <h2>Active {{ category_human_readable }} Listings</h2>
    {% else %}
        <h2>Active Listings</h2>
    {% endif %}
    
    {% for auction in auctions %}
        
        <div class="card">
            <div class="row g-0">
                <div class="col-4">
                    <img class="img-fluid rounded" src="{{ auction.image }}" alt="This auction has no image">
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <h3 class="card-title">Title: <a href="{% url 'auction' auction.id %}">{{ auction.title }}</a></h3>
                        <p class="card-subtitle text-muted">Category: 
                            {% if auction.get_category_display %}
                                {{ auction.get_category_display }}
                            {% else %}
                                No category Listed
                            {% endif %}
                        </p>
                        <p class="card-text"><b>Price: ${{ auction.price }}</b></p>
                        <p class="card-text">Description: {{ auction.description }}</p>
                        <div class="card-footer"><span class="text-muted" style="font-size: small">Created: {{ auction.creationDate }}</span></div>
                    </div>
                </div>
            </div>
        </div>
        
    {% endfor %}
    
{% endblock %}